.heroSection{
    background: url(../../../public/images/vibrant-network-digital-connections.jpg);
    height: 100vh;
    background-size: cover;
    margin-top: -10vh;
}

.overlay{
    height: 100%;
    background-color: #000000b0;
}

.heroSectionImgContainer img{
    width: 100%;
}

.heroSectionDetailsContainer{
    color: white;
}


/* Scroll ZoomIn animation */

.scrollZoomInAnimation{
    animation: scrollZoomInAnimation linear forwards;
    animation-timeline: view();
    /* animation-range-start: 60vh;
    animation-range-end: 100vh; */
}

@keyframes scrollZoomInAnimation{
    100%{
        /* background-size: 150%; */
    }
}