.projectCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.projectSectionContainer {
    color: white;
    min-height: 100vh;
    padding-block: 100px;
    background-color: #ffffff1f;
}

.projectContainer {
    min-height: 100vh;
}

.projectNavContainer {
    position: sticky;
    top: 10vh;
}

@media(max-width:990px) {
    .projectCardContainer {
        justify-content: center;
    }
}