.blog_container {
  max-height: 700px;
}

.blog_container .summary {
  max-height: 300px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_container .card {
  background-color: #0c0c0c;
  border: 3px solid #ffffff26;
  border-radius: 20px;
  overflow: hidden;
}

.blog_container .card img{
  max-height: 300px;
  object-fit: cover;
}