.blog_container {
  max-height: 600px;
}

.blog_container .summary {
  max-height: 100px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_container .card {
  background-color: #0c0c0c;
}
.blog_container .author,
.blog_container .date {
  font-style: italic;
}
