.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
  }
  .circle {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: var(--oringe-color);
    border-radius: 50%;
    animation: mid 1s linear infinite;
  }
  .loader1,
  .loader2,
  .loader3,
  .loader4 {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid var(--oringe-color);
    border-bottom: 5px solid var(--oringe-color);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
  .loader1 {
    width: 90px;
    height: 90px;
    animation-delay: 0.1s;
  }
  .loader2 {
    width: 110px;
    height: 110px;
    animation-delay: 0.2s;
  }
  .loader3 {
    width: 130px;
    height: 130px;
    animation-delay: 0.3s;
  }
  .loader4 {
    width: 150px;
    height: 150px;
    animation-delay: 0.4s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes mid {
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }