.skillsContainer{
    color: white;
    height: 100vh;
}
/* background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%); */

/* .scrollReveal{
    display: inline;
    background: radial-gradient(circle at 10% 20%, rgb(255, 255, 255), rgb(255, 255, 255));
    background-clip: text;
    background-size:0% 100%;
    background-repeat: no-repeat;
    color: #ffffff3b;
    
    animation: scrollReveal linear forwards;
    animation-timeline: view();
    animation-range:entry();
    animation-range-end: 50%;
}

@keyframes scrollReveal {
    100%{
        background-size:100% 100%;
    }
} */


/* Skill container */
.skillContainer{
    display: flex;
    gap: 70px;
    justify-content: center;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.skillLogo{
    width: 70px !important;
    height: 70px !important;
    animation: skillsScroll linear forwards;
    animation-timeline: scroll(root);
    filter: brightness(0.6);
    transition: all .1s ease-in-out;

    &:hover{
        filter: brightness(1);
    }
}

@keyframes skillsScroll {
    100%{
        transform: translateX(100vw);
    } 
}


/* Skills in percentage */

.skillsPercentage{
    margin-block: 100px !important;
}

.skillsPercentageHeading{
    position: sticky;
    top: 10vh;
    display: inline-block;
    background-color: #f2660257;
    padding: 15px 20px;
    border-radius: 10px;
}

.skillPercentageContainer{
    transition: all .2s ease-out;

    &:hover{
        scale:1.05;
    }
}

.skillName,.skillPercentage{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.skillPercentageBar{
    background-color: #f26602;
    height: 5px;
    border-radius: 10px;

    /* animation: skillPercentageBar linear forwards;
    animation-timeline: view();
    animation-range-start:10%;
    animation-range-end:50%; */
}

/* @keyframes skillPercentageBar {
    100%{
        width: 100%;
    }   
} */

