.card {
  padding: 20px;
  background-color: #230400;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.3s;
  position: relative;
  width: 100%;
}

.card:hover {
  border: 2px solid #f2660266;
}

.card h3,
.card p,
.card ul {
  text-align: start;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
}

.card p,
.card ul {
  font-size: 15px;
  line-height: normal;
  opacity: 0.7;
}

.card p {
  margin-bottom: 10px;
}

.card ul {
  padding-left: 15px;
  list-style: circle;
}

.card .img_cont {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -15px;
  top: -25px;
  background: var(--oringe-color);
  padding: 10px;
  border-radius: 50%;
}

.card .img_cont img {
  height: 100%;
}

@media (max-width: 991px) {
  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }
}
