.footer {
    color: white;
    min-height: 20vh;
    /* min-height: 500vh; */
    align-content: center;
    background-color: black;
    padding-block: 20px;
}

.footer .footerLinks {
    display: flex;
    gap: 5%;
}

.footer .footerLinks * {
    color: white;
    transition: all .2s ease-in;

    &:hover {
        color: #f26602 !important;
    }
}

@media(max-width:575px) {
    .footer .footerLinks {
        padding: 0;
        gap: 10px;
    }
}

.navlink {
    font-size: 1.1rem !important;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover {
        color: #ffc49a !important;
    }

    &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--oringe-color);
        bottom: 0;
        left: 0;
    }

    &:hover::after {
        animation: navlinkAnimation .2s ease-in forwards;
    }
}

@keyframes navlinkAnimation {
    100% {
        width: 100%;
    }
}