.footer {
    color: white;
    min-height: 20vh;
    /* min-height: 500vh; */
    align-content: center;
    background-color: black;
    padding-block: 20px;
}

.footer .footerLinks {
    display: flex;
    gap: 5%;
}

.footer .footerLinks * {
    color: white;
    transition: all .2s ease-in;

    &:hover {
        color: #f26602 !important;
    }
}

@media(max-width:575px) {
    .footer .footerLinks {
        padding: 0;
        gap: 10px;
    }
}