.contactMeContainer {
    min-height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        background: url(../../../public/images/blurry-shape-2.svg);
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.socialMedia {
    position: sticky;
    top: 10vh;
}

.formContainer {
    /* background-color: #23040066; */
    /* padding: 65px 45px; */
    max-width: 800px;
    margin: auto;
    /* border-radius: 20px; */
}

.contactFeildContainer {
    display: grid;
    gap: 20px;
}

.formControl {
    background-color: transparent !important;
    border: 2px solid #a86d0045 !important;
    padding: 12px 15px !important;
    color: white !important;
    font-size: 1.1rem !important;

    width: 100%;
    border-radius: 7px;
    margin-block: 5px;

    &:focus,
    &:active {
        /* color: white !important; */
        /* background-color: transparent !important; */
        border: 2px solid #a86d0045 !important;
        box-shadow: 0 0 0 .25rem rgba(87, 38, 0, 0.25) !important;
    }
}

@media(max-width:991px) {
    .socialMedia {
        position: static;
        top: 10vh;
    }
}