@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --oringe-color:#f26602;
    /* background-color: #230000 !important; */
    background-color: black !important;
    font-family: "SUSE", sans-serif !important;
}

.container{
    max-width: 1364px;
    margin: auto !important;
}

.containerBlockPadding{
    padding-block: 100px;
}

/* utilities */
.primaryBtn{
    border: none !important;
    background-color:var(--oringe-color) !important;
    color: white !important;
    width: 9rem;
    padding: 10px !important;
    font-weight: 700 !important;

    &:hover{
        background-color:#f26602d4 !important;
    }
}